@model Together.Identity.API.Models.AccountViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}
@section Styles{
    <link href="~/css/account.css" rel="stylesheet" />
}
    <form class="form-signin" asp-controller="Account" asp-action="Login" method="post">
        <div class="text-center mb-4">
            <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
            已有账号？<a asp-controller="account" asp-action="login" asp-route-returnUrl="@ViewData["ReturnUrl"]">去登录</a>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-label-group">
            <input asp-for="Nickname" class="form-control" placeholder="Email address" required autofocus />
            <label asp-for="Nickname"></label>
            <span asp-validation-for="Nickname" class="text-danger"></span>
        </div>
        <div class="form-label-group">
            <input asp-for="Email" class="form-control" placeholder="Email address" required autofocus />
            <label asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-label-group">
            <input asp-for="Password" class="form-control" placeholder="Password" required />
            <label asp-for="Password"></label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-label-group">
            <input asp-for="ConfirmPassword" class="form-control" placeholder="Password" required />
            <label asp-for="ConfirmPassword"></label>
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

