@model Together.Identity.API.Models.AccountViewModels.SendCodeViewModel
@{
    ViewData["Title"] = "Send Verification Code";
}

<h2>验证邮件已发送到你的邮箱，请注意查收</h2>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}