
@{
    ViewData["Title"] = "创建活动";
}

@section Styles{

}

<div class="container">
    <div class=" m-steps">
        
    </div>
</div>

@section Scripts{
    <script>
        $(function () {

        })
    </script>
}
