.apps-container{
    margin: 20px 0px;
}
.apps-heading{
    font-size: 22px;
    color: #605e5c;
    line-height: 36px;
}

.apps{
    display: inline-block
}

.apps .app-item{
    float: left;
    display: inline-block;
    width: 96px;
    height: 96px;
    text-align: center;
    margin-right: 5px;
    transition: all ease-in-out .3s;
    color: #000000;
}

.apps .app-item:hover{
    background: #ffffff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,.1);
    color: rgb(0,120,215)
}
.apps .app-item:hover > div{
    
}

.apps .app-item > span{
    line-height: 51px;
    font-size: 24px;
    font-weight: 600;
    display: block
}

.apps .app-item > div{
    height: 45px;
    font-size: 13px;
}

.apps .app-item .app-item-text{
    position: relative;
    overflow-wrap: break-word;
    white-space: normal;
    max-height: 36px;
    overflow: hidden;
    padding: 0 5px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}