.menus-container {
  margin: 20px 0px;
}
.menus {
  display: inline-block;
}
.menus .menu-item {
  float: left;
  display: inline-block;
  width: 96px;
  height: 96px;
  text-align: center;
  margin-right: 5px;
  transition: all ease-in-out 0.3s;
  color: #000000;
}
.menus .menu-item:hover {
  background: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  color: #0376a3;
}
.menus .menu-item:focus {
  text-decoration: none;
}
.menus .menu-item .menu-item-icon {
  line-height: 51px;
  font-size: 24px;
  font-weight: 600;
  display: block;
}
.menus .menu-item > div {
  height: 45px;
  font-size: 13px;
}
.menus .menu-item .menu-item-text {
  position: relative;
  overflow-wrap: break-word;
  white-space: normal;
  max-height: 36px;
  overflow: hidden;
  padding: 0 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
