body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root{
    height: 100vh;
}

.no-result{
    text-align: center;
    font-size: 14px;
    line-height: 35px;
    color: #ccc;
}


a:focus{
    text-decoration: none;
}

.main-container{
    padding-top: 48px; 
    background: #faf9f8;
    min-height: 100vh;
}
.main-content{
    margin: 0px auto;
    max-width: 1128px;
}

.management-container{
    height: 100vh;
    margin-top: -48px;
    padding-top: 48px;
    min-height: 500px;
}

.nav-menus-content{
    width: 256px;
    height: 100%;
    position: fixed;
    left: 0px;
}

.management-content{
    height: 100%;
    margin-left: 256px;
}

@media (min-width: 1024px){
    .main-content{
        width: 84%;
    }
}

@media (max-width: 1023px) and (min-width: 640px){
    .main-content{
        width: 90%;
    }
}

@media (max-width: 639px) and (min-width: 480px){
    .main-content{
        width: 92%;
    }
}
@media (max-width: 479px){
    .main-content{
        width: 90%;
    }
}