
@{
    ViewData["Title"] = "仪表板";
}
@section Styles{
    <link href="~/css/dashboard.css" rel="stylesheet" />
}

<div class="dashboard" id="dashboard">
    <div class="page-title">
        <h1>近期邮件活动统计</h1>
    </div>
    <div class="row state-panels">
        <div class="col-md-3 d-none d-md-block"></div>
        <div class="col-md-6 col-sm-12">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <div class="state">
                        <h2>总计</h2>
                        <span style="color:#006394">{{statistics.total}}</span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="state">
                        <h2>成功</h2>
                        <span style="color:#008069">{{statistics.success}}</span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="state">
                        <h2>失败</h2>
                        <span style="color:#a00006">{{statistics.failure}}</span>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                    <div class="state">
                        <h2>失败占比</h2>
                        <span style="color:#c18700">{{failureRatioValue}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 d-none d-md-block"></div>
    </div>

    <div class="resize diagram">
        <div id="chart"></div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/echarts/echarts.min.js"></script>
    <script src="~/lib/echarts/themes/westeros.js"></script>
    <script src="~/scripts/dashboard.js"></script>
}