@model IEnumerable<WebMVC.ViewModels.Activity.ActivityCategoryViewModel>
@inject IViewLocalizer Localizer

<h2 class="section-title" style="margin-top:45px;">@Localizer["Explore by category"]</h2>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a class="category_a" href="#">
                <div class="category_imgdiv" style="background-image: url('https://secure.meetupstatic.com/photos/event/2/e/a/7/600_450131943.jpeg')"></div>
                <h6>Health & Wellness</h6>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a class="category_a" href="#">
                <div class="category_imgdiv" style="background-image: url('https://secure.meetupstatic.com/photos/event/2/e/a/4/600_450131940.jpeg')"></div>
                <h6>LGBTQ</h6>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a class="category_a" href="#">
                <div class="category_imgdiv" style="background-image: url('https://secure.meetupstatic.com/photos/event/2/e/a/5/600_450131941.jpeg')"></div>
                <h6>Movements</h6>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a class="category_a" href="#">
                <div class="category_imgdiv" style="background-image: url('https://secure.meetupstatic.com/photos/event/2/e/a/6/600_450131942.jpeg')"></div>
                <h6>Music</h6>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a class="category_a" href="#">
                <div class="category_imgdiv" style="background-image: url('https://secure.meetupstatic.com/photos/event/2/e/a/6/600_450131942.jpeg')"></div>
                <h6>Music</h6>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a class="category_a" href="#">
                <div class="category_imgdiv" style="background-image: url('https://secure.meetupstatic.com/photos/event/2/e/a/5/600_450131941.jpeg')"></div>
                <h6>Movements</h6>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a class="category_a" href="#">
                <div class="category_imgdiv" style="background-image: url('https://secure.meetupstatic.com/photos/event/2/e/a/4/600_450131940.jpeg')"></div>
                <h6>LGBTQ</h6>
            </a>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <a class="category_a" href="#">
                <div class="category_imgdiv" style="background-image: url('https://secure.meetupstatic.com/photos/event/2/e/a/7/600_450131943.jpeg')"></div>
                <h6>Health & Wellness</h6>
            </a>
        </div>
    </div>
