@model WebMVC.ViewModels.Home.IndexViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "We are together";
}

@section Styles{
    <link href="~/css/home.css" rel="stylesheet" />
}

<div class="big-picture">
    <h1>WE ARE TOGETHER.</h1>
    <p class="text-center"><span id="slogan" data-text="We can do anything"></span> together.</p>
</div>
<div class="container">

    <div class="section">
        <h2 class="section-title">
            @Localizer["Latest Activities Nearby"]
            <a asp-controller="activity" asp-action="search" class="float-right">更多</a>
        </h2>

        <partial name="_LatestActivitiesNearbyPartial" model="Model.ActivitySummaries" />

    </div>
    <div class="section">
        <partial name="_CategoryPartial" model="Model.ActivityCategories" />
    </div>
</div>

@section FooterStripes{
    <partial name="_FooterMainStripe" />
}

@section Scripts{
    <script src="~/js/home.js"></script>
}
