@{
    ViewData["Title"] = "Home Page";
}

@section Styles{
    <style>
        .big-pic{
            position:relative;
            min-height:460px;
            overflow:hidden;
        }
        .video-bg {
            min-height:100%;
            min-width:100%;
            position: absolute;
            top: -150px;
            z-index:0;
        }
        .head-btn-tip{
            position:relative;
            margin-top:150px;
        }
        .head-btn-tip *{
            color:#ffffff;
        }
        .head-btn-tip p{
            margin:25px 0px 35px 0px;
        }
    </style>
}

<div class="big-pic">
    <video class="video-bg" loop autoplay src="~/media/dddafbfe4574fc19c6718950691dcb78.mp4"></video>
    <div class="text-center head-btn-tip">
        <h1>你想找什么样的伙伴？</h1>
        <p>让“一起”帮你寻找志同道合的朋友吧。</p>
        <a href="#" class="btn btn-primary btn-lg">一起开始</a>
    </div>
</div>

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 col-sm-12">
        sss
    </div>
    <div class="col-md-2"></div>
</div>