﻿@model CategorySelect
@if (Model?.Categories?.Count() > 0)
{
    @*<select name="@ViewData["Name"]" id="@ViewData["Id"]" class="@ViewData["ClassName"]" required>
            @foreach (var category in Model)
            {
                <option value="@category.Id">@category.Text</option>
            }

        </select>*@
    <select name="@Model.Name" asp-for="@Model.SelectedCategory" asp-items="@Model.Categories" class="@Model.ClassName" id="@Model.Id"></select>
}
