﻿.radio-block {
    padding: 5px 20px !important;
    font-size: 12px;
    position: relative;
    cursor: pointer
}

    .radio-block input[type='radio'] {
        display: none;
    }

.r-b-check {
    opacity: 0;
}

.m-border {
    /* 尺寸永远和容器一样大，假装是容器 */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    border: 1px solid #bbb;
    margin: -1px;
    border-radius: 3px;
}

.r-b-check:before {
    content: "";
    position: absolute;
    right: -1px;
    bottom: -1px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 12px 12px;
    border-color: transparent transparent #4db4be;
}

.r-b-check:after {
    content: "";
    position: absolute;
    right: 1px;
    bottom: 2px;
    width: 4px;
    height: 2px;
    border: 1px solid #fff;
    border-top: 0;
    border-right: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.radio-block input[type='radio']:checked + .r-b-check {
    opacity: 1;
}

.radio-block input[type='radio']:checked ~ .m-border {
    border-color: #4db4be;
}

.was-validated .form-control:valid, .form-control.is-valid, .was-validated .custom-select:valid, .custom-select.is-valid {
    border-color: #4db4be !important
}

.words {
    background: rgba(255,171,45,0.05);
    border: 1px solid rgba(255,171,45,0.2);
}

    .words p {
        line-height: 22px;
    }

.font-sm {
    font-size: .9em;
}

.font-min {
    font-size: .8em;
}
