﻿:root {
    --ac-right-top: 161px;
}

body {
    background: #f6f7f8;
}

.activity-header {
    padding: 30px 0px;
    background: #ffffff;
    border-bottom: 1px solid rgba(46,62,72,.12)
}

.act-time {
    font-weight: 400;
    color: rgba(46,62,72,.6);
}

.act-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #383838;
}

.act-title-sec {
    font-size: 1.2rem;
    font-weight: bold;
    color: #383838;
}

.content {
    padding-top: 30px;
}

    .content h3 {
        font-size: 1.5rem;
        line-height: 35px;
        color: #000000;
        margin-bottom: 15px;
    }

        .content h3 a {
            font-size: .95rem;
            color: #07b4eb
        }

.activity-content {
    line-height: 25px;
    font-size: .95rem;
    color: #494949;
    margin-bottom: 30px;
}

.participant {
    border-radius: 5px;
    overflow: hidden;
    padding: 10px 0px;
    transition: all ease-out .3s;
    background: #ffffff;
}

.participants a:hover {
    text-decoration: none;
}

.participant:hover {
    box-shadow: 0 0 4px 0 rgba(46,62,72,.12), 0 4px 12px 0 rgba(46,62,72,.12);
}

.participant p {
    text-align: center;
    margin: 10px;
}

.participant img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 0px auto 10px auto;
    display: block;
}

.participant .nickname {
    font-weight: bold;
    line-height: 25px;
    color: #000000;
}

.participant .label {
    color: #808080;
    font-size: .85rem;
}

.fixed-header {
    position: fixed;
    padding: 10px 0px;
    top: 56px;
    right: 0px;
    left: 0px;
    background: #ffffff;
    z-index: 999;
    box-shadow: 0 0 2px 0 rgba(46,62,72,.12), 0 2px 4px 0 rgba(46,62,72,.12);
    display: none;
}

.question {
    font-size: .85rem;
    color: #b2b2b2;
    margin-bottom: 15px;
}

    .question b {
        margin-right: 10px;
        font-size: 1rem;
        color: #000000;
    }

.fixed-header .question {
    display: none;
}

.p-notice {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0px;
}

.activity-right {
    padding-top: 10px;
    margin-top: 30px;
    font-size: .95rem;
    font-weight: normal;
    color: #565656;
    background: #ffffff;
    border-radius: 8px;
    position: sticky;
    top: var(--ac-right-top,161px);
    overflow: hidden;
}

    .activity-right .fa {
        font-size: 1.6rem;
        color: rgba(46,62,72,.6);
        margin-right: 15px;
        float: left;
    }

.activity-time, .activity-location {
    padding: 15px;
    padding-bottom: 0px;
}

    .activity-time time {
        font-weight: normal;
    }

.activity-location {
    margin-top: 15px;
    margin-bottom: 25px;
}

    .activity-location .fa {
        margin-left: 3px;
    }

    .activity-location address {
        display: inline;
    }

        .activity-location address p {
            margin-left: 38px;
            margin-bottom: 5px;
        }

            .activity-location address p:last-child {
                color: #838383;
                font-size: .87rem;
            }

.activity-map {
    width: 100%;
    margin-top: 15px;
}

    .activity-map .map-img {
        width: 100%;
    }
