body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding:0px;
}

.row{
    margin:0px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
.m-header{
    background:#fff;
    border:none;
    margin:0px;
}
    .m-header a{
        transition:all ease-in .3s;
    }
    .m-header a:hover {
        color: #d5046f !important
    }

.page-title {
    font-size: 26px;
    font-weight: 600;
    color: #494949
}