﻿:root {
    --primary-color: #17a2b8;
    --primary-color-hover: #057c97
}
@font-face {
    font-family: 'FaricyNew-Regular';
    src: url('../fonts/FaricyNew-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 3rem;
}

* {
    font-family: "FaricyNew-Regular","Segoe UI",Tahoma,Arial,Microsoft YaHei
}
.footer .stripe-main {
    background: #353e48;
}

.footer .stripe-legal {
    background: #2f363f;
}

.stripe-legal .copy {
    font-size: .9rem;
}

#backtop {
    font-size: .85rem;
    color: #808080;
    transition: all ease-in .3s;
}

    #backtop:hover {
        color: #000000;
        text-decoration: none;
    }

.foot-stripe {
    padding: 15px 0px;
    color: #eeeeee
}
.footer li{
    list-style:none;
}
.footer .stripe-main {
    padding-top: 35px;
    padding-bottom: 35px;
}

#lang-select {
    background: #0f1721;
    color: #ffffff;
    border: 1px solid #0f1721;
    border-radius: 3px;
    padding: 10px 0px;
    width: 100%;
}

    #lang-select:focus {
        border:1px solid #eeeeee;
        outline:none;
    }

.stripe-main .icon-list a {
    color: #eeeeee;
    padding-right: 25px;
    font-size: 1.3rem;
}

.foot-menus .foot-menu-item {
    margin-bottom: 15px;
    font-size: .95rem;
}

    .foot-menus .foot-menu-item a {
        color: #cccccc;
        transition: all ease-out .3s;
    }

        .foot-menus .foot-menu-item a:hover {
            text-decoration: none;
            color: #eeeeee;
        }

    .foot-menus .foot-menu-item.title {
        font-size: 1rem;
        font-weight: 600;
        color: #eeeeee;
    }
.avatar-30 {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.avatar-40 {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}