﻿@model WebMVC.ViewModels.Activity.ActivityCreateViewModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "创建活动";
}

@section Styles{
    <link href="~/lib/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/css/activity.create.css" rel="stylesheet" />
}


<div class="container">
    <div class="py-5">
        <h2>@Localizer["Create An Activity"]</h2>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-3 mb-4">
            <div class="p-3 mb-3 words">
                <p class="m-0 font-min">@Localizer["Warning"]</p>
            </div>
            <div>
                <p class="font-sm">@Localizer["Tip"]</p>
                <ol class="pl-3 font-min">
                    <li>@Localizer["Tip Option 1"]</li>
                    <li>@Localizer["Tip Option 2"]</li>
                    <li>@Localizer["Tip Option 3"]</li>
                </ol>
            </div>
        </div>
        <div class="order-md-2 col-md-1"></div>
        <div class="col-md-7 order-md-1">
            <form class="needs-validation" novalidate asp-controller="activity" asp-action="create" method="post">
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label text-sm-left text-md-right col-form-label-sm" for="category_parent">@Localizer["Category"]</label>
                    <div class="col-sm-12 col-md-10">
                        <div class="row">
                            <div class="col-md-4 pr-md-0 col-sm-12 mr-md-2">
                                @await Component.InvokeAsync("Categories", new CategorySelect { Name = "ParentCategory", Id = "parentCategories", ClassName = "custom-select form-control-sm", SelectedCategory = Model?.ParentCategory })
                            </div>
                            <div class="col-md-4 pl-md-0 col-sm-12 pt-md-0 pt-2" id="childCategoryContainer">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label text-sm-left text-md-right col-form-label-sm" for="title">@Localizer["Title"]</label>
                    <div class="col-md-10 col-sm-12">
                        <input type="text" asp-for="Title" class="form-control form-control-sm" placeholder="必填" required />
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-12 col-md-2 col-form-label text-sm-left text-md-right col-form-label-sm" for="fee">@Localizer["Fare"]</label>
                    <div class="col-md-10 col-sm-12">
                        <label class="radio-block mr-3">
                            <input asp-for="AddressVisibleRuleId" type="radio" value="1" />
                            <i class="r-b-check"></i>
                            <span class="m-border"></span>
                            公开
                        </label>
                        <label class="radio-block radio-inline">
                            <input asp-for="AddressVisibleRuleId" type="radio" value="0" />
                            <i class="r-b-check"></i>
                            <span class="m-border"></span>
                            参与者可见
                        </label>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-sm-12 col-form-label text-sm-left text-md-right col-form-label-sm">@Localizer["Activity Time"]</label>
                    <div class="col-md-10 col-sm-12">
                        <div class="row m-0">
                            <div class="col-md-6 col-sm-12 p-0 pr-md-1">
                                <input type="text" asp-for="ActivityStartTime" class="form_datetime form-control form-control-sm" readonly />

                            </div>
                            <div class="col-md-6 col-sm-12 p-0 pl-md-1 pt-md-0 pt-2">
                                <input type="text" asp-for="ActivityEndTime" class="form_datetime form-control-sm form-control" readonly />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-sm-12 col-form-label text-sm-left text-md-right col-form-label-sm">@Localizer["Deadline Of Joining"]</label>
                    <div class="col-md-10 col-sm-12">
                        <div class="row m-0">
                            <div class="col-md-6 col-sm-12 p-0 pr-md-1">
                                <input type="text" asp-for="RegisterEndTime" class="form_datetime form-control-sm form-control" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-2 col-sm-12 col-form-label text-sm-left text-md-right col-form-label-sm">@Localizer["Event Location"]</label>
                    <div class="col-md-10 col-sm-12">
                        <div class="row m-0">
                            <div class="col-md-4 col-sm-12 p-0 pr-md-2">
                                <input type="hidden" asp-for="Address.Province" />
                                <input type="hidden" asp-for="Address.Longitude" />
                                <input type="hidden" asp-for="Address.Latitude" />
                                <select asp-for="Address.City" class="custom-select form-control-sm">
                                    <option value="杭州">杭州</option>
                                </select>
                            </div>
                            <div class="col-md-8 col-sm-12 p-0 pl-md-1 pt-md-0 pt-2">
                                <input type="text" asp-for="Address.Detail" placeholder="详细地址（必填）" id="placeSearch" class="col-sm-12 form-control form-control-sm" required="required" />
                            </div>
                        </div>
                        <div class="row m-0 mt-3">
                            <div class=" col-sm-12 p-1 border border-1 rounded">
                                ss
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label text-sm-left text-md-right col-md-2 col-sm-12 col-form-label-sm">@Localizer["Details"]</label>
                    <div class="col-sm-12 col-md-10">
                        <textarea asp-for="Details" cols="0" rows="6" style="min-height:120px" class="form-control-sm form-control" required></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-2"></div>
                    <div class="col-md-10 text-left">
                        <button type="submit" class="btn btn-info btn-sm">@Localizer["Create An Activity"]</button>
                        @*<button type="submit" class="btn btn-secondary btn-sm">保存草稿</button>*@
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section FooterStripes{
    <partial name="_FooterMainStripe" />
}
@section Scripts{
    <script src="~/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script src="~/lib/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <script src="~/lib/typeahead/bootstrap3-typeahead.js"></script>
    <script>
        $(function () {
            'use strict';

            $(".form_datetime").datetimepicker({ format: 'yyyy-mm-dd hh:ii', language:'zh-CN' });

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });

            var firstParentId = $('#parentCategories').val();
            loadChildCategories(firstParentId);

            $("#parentCategories").change(function () {

                var id = $(this).val();
                console.log(id);
                loadChildCategories(id);
            });


            var $input = $("#placeSearch");

            var dropdown = $('<ul class="selects dropdown-menu"></ul>');
            var newTop = $input.position().top + $input.innerHeight();
            console.log(newTop);
            dropdown.css({ left: "15px", right: "15px", top: newTop + "px" });
            $input.after(dropdown);


            $input.on('input', function () {
                var $this = $(this);
                var text = $this.val().trim();
                $.ajax({
                    url: "/locations/search?query=" + text,
                    method: "GET"
                }).done(function (data, statusText, xhdr) {
                    dropdown.empty();
                    if (data.status === 0) {
                        dropdown.show();
                        var results = data.result;
                        for (var i = 0; i < results.length; i++) {
                            var result = results[i];
                            var item = $('<li onclick="selectAddress(\'' + result.name + '\')"></li>').html($('<a class="dropdown-item"></a>').text(result.name));
                            dropdown.append(item);
                        }
                    }
                });
            });
            $input.blur(function () {
                //dropdown.hide();
            });
        });

        function selectAddress(name) {
            $("#placeSearch").val(name);
            $('.selects').hide();
        }


        function loadChildCategories(parentId) {
            $.ajax({
                method: 'GET',
                url: '/Components/Categories?SelectedCategory=@Model?.ChildCategory&name=ChildCategory&id=childCategories&className=custom-select form-control-sm&ParentId=' + parentId
            }).done(function (data, statusText, xhdr) {
                $("#childCategoryContainer").html(data);
            }).fail(function (xhdr, statusText, errorText) {
                $("#childCategoryContainer").text(JSON.stringify(xhdr));
            });
        }


    </script>
}