﻿.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.dashboard {
    text-align: center
}

.page-title {
    padding-bottom: 37px;
}

    .page-title h1 {
        position: relative;
        margin: 0px auto;
        font-weight: 600;
        color: #294661;
        font-size: 30px;
        line-height: 40px;
        letter-spacing: -1px;
    }

.state {
    padding: 20px 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,.15);
    border-radius: 5px;
    cursor: default
}

    .state h2 {
        font-weight: 600;
        font-size: 13px
    }
    .state span {
        font-size: 18px;
        font-family: fantasy
    }

    .diagram {
        margin: 50px 30px 0px 30px;
        height: 450px;
    }

    .diagram > div{
        width: 100%;
        height: 100%;
    }
