﻿#loading-content {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #ffffff;
    z-index: 999;
}

@keyframes lds-blocks {
    0% {
        background: #5699d2;
    }

    12.5% {
        background: #5699d2;
    }

    12.625% {
        background: #1d3f72;
    }

    100% {
        background: #1d3f72;
    }
}

@-webkit-keyframes lds-blocks {
    0% {
        background: #5699d2;
    }

    12.5% {
        background: #5699d2;
    }

    12.625% {
        background: #1d3f72;
    }

    100% {
        background: #1d3f72;
    }
}

.lds-blocks {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -120px;
}

    .lds-blocks div {
        position: absolute;
        width: 20px;
        height: 20px;
        background: #1d3f72;
        -webkit-animation: lds-blocks 1s linear infinite;
        animation: lds-blocks 1s linear infinite;
    }

.lds-blocks {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
