@using Together.Extensions.Claims
@inject IViewLocalizer Localizer
@{
    var user = User.GetCurrentUserInfo();
    if (user != null)
    {
        <a href="/account/signout">@user.Nickname</a>
    }
    else
    {
        <a href="/account/signin">@Localizer["Log in"]</a>
    }
}

