﻿@inject IViewLocalizer Localizer
<div class="stripe-main foot-stripe">
    <div class="container">
        <div class="row pt-4">
            <div class="col-md-8 pr-md-5">
                <div class="row">
                    <ul class="foot-menus col-md-4">
                        <li class="foot-menu-item title">@Localizer["Account"]</li>
                        <li class="foot-menu-item"><a href="#">@Localizer["Account Center"]</a></li>
                        <li class="foot-menu-item"><a href="#">@Localizer["Help"]</a></li>
                    </ul>
                    <ul class="foot-menus col-md-4">
                        <li class="foot-menu-item title">@Localizer["Discover"]</li>
                        <li class="foot-menu-item"><a href="#">@Localizer["Search"]</a></li>
                        <li class="foot-menu-item"><a href="#">@Localizer["Topics"]</a></li>
                        <li class="foot-menu-item"><a href="#">@Localizer["Cities"]</a></li>
                    </ul>
                    <ul class="foot-menus col-md-4">
                        <li class="foot-menu-item title">@Localizer["More"]</li>
                        <li class="foot-menu-item"><a href="#">@Localizer["About"]</a></li>
                        <li class="foot-menu-item"><a href="#">@Localizer["Careers"]</a></li>
                        <li class="foot-menu-item"><a href="#">@Localizer["APP"]</a></li>
                        <li class="foot-menu-item"><a href="#">@Localizer["APIS"]</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 ">
                <p>@Localizer["Follow us"]</p>
                <p class="icon-list">
                    <a href="#"><i class="fa fa-facebook-square"></i></a>
                    <a href="#"><i class="fa fa-twitter-square"></i></a>
                    <a href="#"><i class="fa fa-youtube-square"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-medium"></i></a>
                </p>
                <partial name="_SelectLanguagePartial" />
            </div>
        </div>
    </div>
</div>