@model WebMVC.Models.Organization.CreateViewModel

@{
    ViewData["Title"] = "创建组织";
}
@section Styles{
    <link href="~/css/steps.css" rel="stylesheet" />
    <style>
        #m-location-text {
            margin-top: 12px;
            font-size: 22px;
        }

            #m-location-text a {
                font-size: 13px;
                color: #0026ff
            }
        .m-container-header{
            margin:0px;
            padding:0px;
            height:250px;
            padding-top:70px;
            background:url('/images/dweb_hero.jpg') center center no-repeat;
        }
        .m-container-header h1{
            line-height:50px;
            margin:0px;
            padding:0px;
            color:#fff;
            font-size:32px;
            font-weight:400;
        }
            .m-container-header p {
                line-height: 30px;
                margin-top: 10px;
                padding: 0px;
                color: #fff;
                font-size:20px;
            }
        
    </style>
}
<div class="container-fluid m-container-header">
    <h1 class="text-center">开始创建一个组织</h1>
    <p class="text-center">我们会帮你找到跟你志同道合的人。</p>
</div>
<div class="container">
    <form asp-action="create" asp-controller="organization" method="post">
        <input type="hidden" value="0" id="current-step" />
        <div class="m-steps">
            <div class="m-step">
                <div class="m-step-icon">
                    <img src="~/images/globe.svg" />
                </div>
                <div class="m-step-main">
                    <div class="m-step-title">
                        <span>第一步</span>
                        <h2>您的组织总部设在哪儿？</h2>
                    </div>
                    <div class="m-step-content">
                        <p id="m-location-text"><span>@ViewData["Location"]</span><a href="javascript:;" id="btnChangeLocation">（切换地点）</a></p>
                        <span asp-validation-for="Location"></span>
                        <p style="display:none">
                            <input asp-for="Location" class="form-control" type="text" id="txtLocation" value="@ViewData["Location"]" />
                        </p>
                    </div>
                    <div class="m-step-next">
                        <a class="m-btn m-btn-next">下一步</a>
                    </div>
                </div>
            </div>
            <div class="m-step">
                <div class="m-step-icon">
                    <img src="~/images/textBubbles.svg" />
                </div>
                <div class="m-step-main">
                    <div class="m-step-title">
                        <span>第二步</span>
                        <h2>您的组织是关于哪方面的？</h2>
                    </div>
                    <div class="m-step-content">
                        <p>
                            <input class="form-control" type="text"/>
                        </p>
                    </div>
                    <div class="m-step-next">
                        <a class="m-btn m-btn-next">下一步</a>
                    </div>
                </div>
            </div>
            <div class="m-step">
                <div class="m-step-icon">
                    <img src="~/images/tag.svg" />
                </div>
                <div class="m-step-main">
                    <div class="m-step-title">
                        <span>第三步</span>
                        <h2>你的组织的名字是什么？</h2>
                    </div>
                    <div class="m-step-content">
                        <input class="form-control" type="text" asp-for="GroupName" />
                        <span asp-validation-for="GroupName"></span>
                    </div>
                    <div class="m-step-title">
                        <h2>描述谁应该加入，以及你的Meetup会做什么。</h2>
                    </div>
                    <div class="m-step-content">
                        <textarea rows="6" class="form-control" asp-for="Description"></textarea>
                        <span asp-validation-for="Description"></span>
                    </div>
                    <div class="m-step-next">
                        <a class="m-btn m-btn-next">下一步</a>
                    </div>
                </div>
            </div>
            <div class="m-step">
                <div class="m-step-icon">
                    <img src="~/images/people.svg" />
                </div>
                <div class="m-step-main">
                    <div class="m-step-title">
                        <span>第四步</span>
                        <h2>创建一个组织应该怎么做？</h2>
                    </div>
                    <div class="m-step-content">
                        <ul>
                            <li>牢记安全第一</li>
                            <li>把你的成员放在首位</li>
                            <li>公正公平的对待每一个人</li>
                        </ul>
                        <p>Together的<a href="#">社区准则</a>适用于每一个组织、每一个人。</p>
                    </div>
                    <div class="m-step-next">
                        <button type="submit" class="m-btn m-btn-submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts{
    @Html.Partial("_ValidationScriptsPartial.cshtml")
    <script>
        $(function () {
            var $container = $(".m-steps");
            var currentStep = $("#current-step").val();
            console.log(currentStep);
            var $steps = $container.children(".m-step");
            console.log($steps.length);
            if ($steps) {
                $.each($steps, function (i, e) {
                    console.log(i);
                    if (i <= currentStep) {
                        $(this).show();
                        $(this).find(".m-btn-next").show();
                    }
                })
            }

            $(".m-btn-next").on("click", function () {
                var $next = $(this).parents('.m-step').next('.m-step');
                if ($next &&
                    !$next.is(':visible')) {
                    $next.show();
                    $next.find(".m-btn-next").show();
                    $(this).remove();
                }
            })

            $("#btnChangeLocation").click(function () {
                $(this).parent("p").hide();
                $(this).parent("p").nextAll("p").show()
                $("#txtLocation").focus();
            })
            $("#txtLocation").blur(function () {
                var newLocation = $(this).val();
                if (newLocation != "") {
                    $("#m-location-text").find("span").text(newLocation);
                } else {
                    $(this).val($("#m-location-text").find("span").text());
                }
                $(this).parent("p").hide();
                $(this).parent("p").prevAll("p").show();
            })
        })
    </script>
}