.fix-header{
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 99;
    padding: 0px;
    height: 48px;
    background: #F5F3F1;
}
.header-left{
    height: 48px;
    display: inline-block;
}
.header-right{
    float: right;
    line-height: 48px;
}

.header-left .anticon {
    position: absolute;
    top: 0px;
    display: inline-block;
    height: 48px;
    width: 48px;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.header-left > a{
    margin-left: 52px;
    line-height: 48px;
    font-weight: 600;
}