.main-container{
    padding-top: 48px; 
    background: #faf9f8;
    height: 100vh;
}
.main-content{
    margin: 0px auto;
    max-width: 1128px;
}

@media (min-width: 1024px){
    .main-content{
        width: 84%;
    }
}

@media (max-width: 1023px) and (min-width: 640px){
    .main-content{
        width: 90%;
    }
}

@media (max-width: 639px) and (min-width: 480px){
    .main-content{
        width: 92%;
    }
}
@media (max-width: 479px){
    .main-content{
        width: 90%;
    }
}